/*
--------------COLORES----------------
Durazno---------#FFCF96
Arena-----------#FBECD9
amarillo claro---#FCF4C4
rosa            #FF8080
azul            #CEE3FA
lima pastel     #CDFADB
*/

/*---------------------------------LANDING PAGE---------------------------------------*/

* {
    scroll-behavior: smooth;
    scroll-margin-top: 7vw;
    
}
/*------------------------------------------Boton general---------------------------------------------------*/
#button-huellitas {
    border-radius: 0.5vw;
    box-shadow: none;
    padding: 0 0,5vw;
    float: right;
    margin-left: 1vw;
    border: none;
}

#button-huellitas * {
    padding: 0;
    margin: 0;
    margin: 0.4vw;
    border: none;
    background-color: transparent;
    align-self: auto;
    float: left;
    text-align: left;
    font-weight: bold;
}

#button-huellitas button {
    display: inline-flex;
    align-items: center;
}


#button-huellitas:hover {
    background-color: #ffa074;
    color: black;
    border: none;
}

body {
    margin: auto;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
}

button {
    font-family: 'Poppins', sans-serif;

    font-size: 1.2vw;
}

/*menu de navegación*/
.navbar-full {
    top: 0;
    position: fixed;
    background-color: #FFCF96;
    width: 100%;
    display: flex;
    /*margen 0 arriba y abajo, auto derecha e izquierda*/
    margin: 0 auto;
    /*para que este por encima de otros elvwentos*/
    z-index: 9999;
    padding-left: 0.5vw;
}

.navbar-full h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.6vw;
}

.navbar-options {
    font-size: larger;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/*opciones de navegación*/
.navbar-options a {
    color: black;
    text-decoration: none;
    margin: 1vw 0;
    padding: 1.5vw 2vw;
    border-radius: 0.5vw;
    font-weight: bold;
}

.btn-login {
    background-color: rgb(244, 244, 244);
}

/*cambio de color al pasar el mouse*/
.navbar-options a:hover {
    background-color: #ffa074;
    color: rgb(249, 242, 233);
}


.logo {
    width: auto;
    height: 5vw;
    margin: 0.5vw;
    margin-top: 1vw;
}

.container-landing-img {
    width: 100%;
}

.img-perritos-landing {
    width: 100%;
}

.container-landing-img .text-landing {
    position: absolute;
    top: 23%;
    left: 7%;
    background-color: #ffe8c93f;
    backdrop-filter: blur(4px);
    width: 40%;
    height: 50%;
    margin: 1vw;
    border-radius: 1vw;
    padding: 0.4vw 3vw;
    color: black;
    font-family: 'Amatic SC', sans-serif;
    font-size: 2.5vw;
    text-align: center;
    line-height: 5.2vw;
    overflow: auto;
    font-style: bold;

}

/*
.img-inu {
    height: 12vw;
    width: 12vw;
}
*/
.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3vw;
    margin: 2.5vw 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 1vw;
}


.welcome div {
    width: 35%;
    padding: 1vw;
    border-radius: 1vw;
    text-align: center;
    font-size: 1.25vw;
}

.welcome h1 {
    font-size: 2vw;
}


.img-corgi-vet {
    border-radius: 1vw;
    margin-top: 2.5vw;
    width: 30vw;
    height: 25vw;
    object-fit: cover;
}

.our-services {
    border-radius: 1vw;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.our-services h1 {
    font-size: 2vw;
    margin-bottom: 0;
    margin-left: 3vw;
    padding-top: 3vw;
}

.service {
    display: inline-flex;
    justify-content: space-evenly;
    align-itvws: left;
    margin: 2vw 0;
    padding: 1vw;
    margin-top: 0vw;
}

.our-services h1 {
    text-align: center;
}

#service-image {
    width: 40%;
    height: auto;
    border-radius: 1vw;
    margin: 2vw;
    
}

.slider-wrapper {
    max-width: 70%;
    max-height: 32vw;
    height: auto;
    border-radius: 1vw;
    margin: 2vw auto;
    margin-right: 2vw;
    position: relative;
    overflow: hidden;

}

.slides-container {
    height: fit-content;
    width: auto;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}


li.slide {
    font-size: 140%;
    white-space: normal;
    text-align: center;
    height: auto;

}

.slide img {
    display: inline-block;
    width: 10vw;
    transform: translatex(2px) translatey(19px);
    clear: none;
    float: none;
    filter: contrast(10);
    margin-top: 2vw;
    margin-bottom: 0vw;
    margin-right: -4px;

}

.slide p {
    padding-left: 14%;
    padding-right: 14%;

}

.slide h2 {
    font-size: 2.5vw;
    margin: 0;
    padding: 0 1.2vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}


/*botones de slider*/
.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4vw;
    background-color: white;
    border: none;
    width: 2vw;
    font-size: 3vw;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25vw;
    border-radius: 0 2vw 2vw 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75vw;
    border-radius: 2vw 0 0 2vw;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

/*slides colores especifico de cada una*/
.slide:nth-child(1) {
    background-color: #CDFADB;

}

.slide:nth-child(2) {
    background-color: #ffa6a6;
}

.slide:nth-child(3) {
    background-color: #CEE3FA;
    margin: 0;
}

.slide:nth-child(4) {
    background-color: #FCF4C4;
}

.slide:nth-child(5) {
    background-color: #FBECD9;
}

.slide:nth-child(6) {
    background-color: #e2d4ff;
}

/*ocultar barra de deslice de slider*/
.slides-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #807465;
    color: rgb(255, 255, 255);
    padding: 2vw 2vw 0vw 2vw;
}

footer div {
    text-align: center;
    padding: 0 5vw;
}


.hospital-hours {
    text-align: left;
    width: auto;
}

.hospital-hours p {
    line-height: 1.3;
    
}

footer h3 {
    font-size: 1.8vw;
    margin-top: 0;
    font-style: bold;
}

.hospital-hours h5 {
    font-size: small;
    font-weight: 50;
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
}

.hospital-hours span {
    font-size: small;
}

.mapa {
    border-radius: 1vw;
    margin-bottom: 1vw;
}

.welcome-contactanos {
    display: inline-flex;
    justify-content: space-evenly;
    margin: 1vw 0;
    margin-top: 2vw;
    align-itvws: center;
}

.contact-logos {
    height: 3vw;
    width: auto;
    border-radius: 1vw;
    margin: 0 1vw;
    box-shadow: 0 0 40px rgba(2, 2, 2, 0.1);
}


/* Mascotas table */
#mascota-container,
#cliente-container {
    padding: 2vw;
    margin: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-top: 3vw;
}

#detalles-mascota,
#detalles-cliente {
    display: inline-flex;
    justify-content: space-evenly;
    margin: 2vw 0;
    padding: 1vw;
    margin-top: 0vw;
    border-radius: 1vw;
    width: 100%;
    align-self: left;

}

#mascota-container img {
    position: relative;
    border-radius: 500px;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    align-self: center;
    object-fit: cover;
}

#informacionMascota,
#informacionCliente {
    padding: 2vw;
    margin-left: 2vw;
    width: 30vw;
    border-radius: 1vw;
    background-color: #ffffff;
    align-self: center;
}


/*/*---------------------------------Todas MASCOTAS/clientes---------------------------------------*/
/* Button */
.table-striped a button,
.add-btn {
    background-color: #ff8080;
    border-radius: 40px;
    border-style: none;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    box-shadow: none;
    float: left;
    display: inline;
}

.add-btn {
    margin-bottom: 2vw;
}

#button_borrar {
    background-color: #ff4a4a;
    border-radius: 40px;
    border-style: none;
    padding: 0 1vw;
}

#button_editar {
    background-color: #FFCF96;
    border-radius: 40px;
    border-style: none;
    padding: 0 1vw;
}

#button_back {
    background-color: #FFCF96;
    border-radius: 40px;
    border-style: none;
    padding: 1.3vw 2vw;
    margin-right: 8vw;
    box-shadow: none;
    float: right;
    display: inline;
}

#delete-button {
    background-color: #ff4a4a;
    color: white;
    margin: 0 0.5vw;

}

/* Button */
#mascotas-table .table-striped tbody tr td a button {
    padding-top: 2% !important;
    padding-bottom: 2% !important;

}
#todas-mascotas{
    margin-top: 2vw;
}

/* Button */
#todas-mascotas #mascotas-table .table-striped tbody tr td a button {   
    left: 20% !important;
}

/* Heading */
#todas-mascotas-title,
#todas-clientes-title {
    text-align: center;
    padding-top: 2%;
}

/* Mascotas table */
#mascotas-table,
#clientes-table {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 0em;
}

#todas-mascotas,
#todas-clientes {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6%;
}

.buttons_nav {
    background-color: white;
}

/* Navigation */
header .navbar-full nav {
    background-color: rgba(255, 255, 255, 0);
}

/* Header */
header {
    background-color: white;

}

#header-todasMascotas {
    justify-content: space-around !important;
    float: none;
    flex-wrap: nowrap;
    overflow: hidden;
    border-bottom-color: rgba(30, 30, 30, 0.34) !important;
    border-bottom-width: 0.135vw !important;
    margin-left: 9%;
    margin-right: 9%;
    width: 80% !important;

}

/* Navbar full */
header .navbar-full {
    background-color: rgb(255, 255, 255);
    transform: translatex(0px) translatey(0px);
    border-bottom-style: solid;
    border-bottom-width: 0.1em !important;
    border-bottom-color: rgba(0, 0, 0, 0.50);
    align-items: center;
    justify-content: center;
    float: none;
    clear: none;
    opacity: 1;
    flex-direction: row;
    display: flex;
}

.clientes-specific{
    width: 90%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin-bottom: 8vw;
}
.mascotas-clientes{
    background-color: #FFCF96;
    width: 40%;
    align-items: center;
    justify-content: center;
    box-shadow: none;

}

.mascotas-clientes a{
    position: right;
}

.casilla-mod{
    display: inline-flex;
    align-items: right;
    justify-content: right;
    background-color: #FFCF96;
 
}

.mascotas-clientes button{
    position: right;
}



/*/*---------------------------------MASCOTA---------------------------------------*/
/* Navbar */
.navbar-specific {
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    align-items: center;
    border-bottom: 1px solid;
}

.navbar-specific h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.6vw;
    width: 50%;
    text-wrap: wrap;
}

.navbar-specific div {
    display: inline-flex;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.6vw;
    margin-left: 2vw;
}

.navbar-specific #button_back {
    background-color: #FFCF96;
    margin: 0vw 2vw;
    margin-right: 4vw;
    padding: 1.5vw 3vw;
    align-self: center;
    font-style: bold;

}

#button_back:hover {
    background-color: #ffa074;
    color: black;
}

.navbar-specific #header_title {
    align-self: end;
    color: white;
    background-color: #ff8080;
    border-radius: 40px;
    padding: 0.5vw 2vw;
    margin-right: 2vw;
}

.content-mascota-specific {
    margin-top: 9vw;
    width: 100%;
}

.content-mascota-specific #mascota-container {
    display: flex;
    padding: 2vw;
    margin: 2vw;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.0);
}

#informacionMascota {
    padding: 1.5vw 23vw;
    margin-left: 12vw;
    width: 30vw;
    border-radius: 1vw;
    background-color: white;
    align-self: left;
    border-radius: 1vw;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

}

#mascota-container img {
    float: left;
    position: absolute;
    width: 25vw;
    height: 25vw;
    margin-left: 3vw;
    object-fit: cover;

}

#button_modificar {
    background-color: #FFCF96;
    color: rgb(91, 91, 91);
    border-radius: 40px;
    border-style: none;
    font-style: bold;
    padding: 0.5vw 5vw;
    margin-right: -20vw;
    box-shadow: none;
    float: right;
    display: inline;
}

#button_modificar:hover {
    background-color: #ffa074;
    color: black;
}




/*/*------------------------------------------Login---------------------------------------------------*/
/* Login box */
#login-box {
    overflow: visible;
    height: 61% !important;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    transform: translatex(0px) translatey(0px);
    display: block;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;

}

/* Login container */
#login-box .login-container {
    backdrop-filter: blur(10px) contrast(0.8);
    border-width: 0px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

/* Label */
#login-box form label {
    color: #ffffff;
}


#login-back {

    background-image: url("@{/img/loginBack.png}");
    background-image: url(" + @{/img/loginBack.png} + ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/* Contenedor del formulario */
.login-container {
    width: 20vw;
    margin: 20vw auto;
    padding: 5vw;
    border: 1px solid #ddd;
    /*center */
    align: center;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login */
#login-box .login-container form .form-group .btn-login {
    width: 105% !important;
}

/* Login box */
#login-box {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translatex(0px) translatey(0px);
}

/* Login container */
#login-box .login-container {
    position: relative;
    top: 5vw;

    margin-top: 2%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 19vw;
}

/* Título */
.login-container h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Formulario */
.login-container form {
    margin-bottom: 10px;
}

/* Etiquetas */
.login-container form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
}

/* Campos de texto */
.login-container form input[type="text"] {
    width: 100%;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 16px;
}

/* Botón de inicio de sesión */
.login-container form button.btn-login {
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #ff8080;
    border-radius: 4px;
    background-color: #ff8080;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* Enlace a "¿Olvidaste tu contraseña?" */
.login-container form a {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
}

/*------------------------------------------Error---------------------------------------------------*/

#error-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#error-content {
    background-color: #ff8080;
    margin: 5vw;
    border-radius: 1vw;
    color: rgb(255, 255, 255);
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 2vw;
}

#error-content h1 {
    font-size: 11vw;
    font-weight: bold;
    margin: 0;
}

#error-content h2 {
    font-size: 4vw;
    font-weight: bold;
}

#error-content button {
    font-weight: bold;
    align-self: center;
    padding: 1vw 2vw;
    margin: 1vw;
    background-color: #ffffff;
    border-radius: 1vw;
    border-style: none;
    color: #ff8080;
}

#error-content button:hover {
    background-color: #ffa074;
    color: black;
}

/*------------------------------------------Registros---------------------------------------------------*/

.background-registro {
    background-image: url("../img/registro-cliente.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    ;
    background-color: #ffffff;
}

.form-general-group {
    text-align: center;
    background-color: #b4b4b493;
    border-radius: 1vw;
    margin: 0 27vw;
    margin-top: 8vw;
    padding: 2vw;
    padding-top: 1vw;
    backdrop-filter: blur(0.1vw);
}

.form-general-group h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
}

.form-group {
    padding: 1vw;
}

.form-group input {
    border-radius: 1vw;
    border-style: none;
    padding: 0.5vw;
    background-color: #A1A1A1;
}

.form-general-group button {
    margin-top: 1vw;
    position: relative;
    left: 15vw;
    border-radius: 1vw;
    background-color: #ff8080;
    border-style: none;
    padding: 0.5vw 1vw;
    color: white;
    font-size: large;

}

.background-registro.mascota {
    background-image: url("../img/registro-mascota.jpg");
}

