<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Mascota</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">

</head>

<body class="background-registro tratamiento">

    <div class="form-general-group">

        <h2>Registro de Tratamiento</h2>   
        <!-- formulario para registrar un nuevo tratamiento-->
        <form th:object="${tratamiento}" th:action="@{/tratamientos/agregar}" th:method="post">
            <div class="form-group">
                <label for="id">Id de Mascota:</label><br>
                <input th:field="*{id}" type="number" id="id" name="id" required><br>
            </div>
            
            
            <div class="form-group">
                <label for="droga">Droga:</label><br>
                <input th:field="*{droga}" type="text" id="droga" name="droga" required><br>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripcion:</label><br>
                <input th:field="*{descripcion}" type="text" id="descripcion" name="descripcion" required><br>
            </div>

            <div class="form-group">
                <label for="fechaInicio">Fecha de Inicio de tratamiento:</label><br>
                <input th:field="*{fechaInicio}" type="text" id="fechaInicio" name="fechaInicio" required><br>
            </div>

            <div class="form-group">
                <label for="fechaFin">Fecha de Fin de Tratamiento:</label><br>
                <input th:field="*{fechaFin}" type="text"  id="fechaFin" name="fechaFin" required><br>
            </div>

            <div class="form-group">
                <label for="veterinario">Veterinario:</label><br>
                <input th:field="*{veterinario}" type="text" id="veterinario" name="veterinario" required><br>
            </div>

    

            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>  
    </div>
</body>
</html>