<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Cliente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

</head>
<body class="background-registro">

    <div class="form-general-group">
        
        <h2>Registro De Cliente</h2>
        <form th:object="${cliente}" th:action="@{/clientes/agregar}" th:method="post">
            <div class="form-group">
                <label for="id">CÉDULA</label><br>
                <input th:field="*{id}" type="number" id="id" name="id"><br>
            </div>

            <div class="form-group">
                <label for="nombre">NOMBRE</label><br>
                <input th:field="*{nombre}" type="text" id="nombre" name="nombre"><br>
            </div>

            <div class="form-group">
                <label for="correo">CORREO</label><br>
                <input th:field="*{correo}" type="email" id="correo" name="correo"><br>
            </div>

            <div class="form-group">
                <label for="celular">CELULAR</label><br>
                <input th:field="*{celular}" type="number" id="celular" name="celular"><br>
            </div>

            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>