<!DOCTYPE html>
<html lang="en">

<head>
    <title>Landing Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link href="style.css" rel="stylesheet" type="text/css"/>
    
<body>
    <div class="navbar-full">
        <img class="logo" src="img/logo.png" alt="Logo huellitas felices">
        <h2>Huellitas Felices</h2>
        <nav class="navbar-options">
            <a href="#">Inicio</a>
            <a href="#welcome">Sobre nosotros</a>
            <a href="#services">Servicios</a>
            <a href="#contact">Contacto</a>
            <a href="/mascotas/all">Mascotas</a> 

            <a class="btn-login" href="/clientes/login">Iniciar sesión</a>
        </nav>
    </div>

    <div class="container-landing-img">
        <img class="img-perritos-landing" src="img/perritos-landing.jpg" alt="Perritos corriendo">
        <div class="text-landing">
            <h2>Cuidado completo para tu amigo peludo.<br> ¡Siempre aquí para
                ti y tu mascota!</h2>
        </div>

    </div>

    <section id="welcome" class="welcome">
        <div>
            <h1>¡Bienvenidos a Huellitas Felices!</h1>
            <p> Ubicados en Bogotá, Colombia, brindamos atención veterinaria de alta calidad a perros de todas las
                edades. Nuestro equipo es apasionado por las mascotas y hará todo lo posible para ayudar a tu amigo
                peludo a disfrutar de varios años felices y saludables a tu lado.
                <br><br>Estamos aquí para proporcionar la atención que tu
                compañero necesita durante todas las etapas de su vida.
            </p>
        </div>
        <img class="img-corgi-vet" src="img/corgi-vet.jpg" alt="inu perrito">
    </section>

    <section id="services" class="our-services">
        <h1>Nuestros servicios</h1>
        <div class="service">
            <img class="img-vetDog" src="img/vet-dog.jpg" alt="Dog" id="service-image">
            <div class="slider-wrapper">
                <button class="slide-arrow" id="slide-arrow-prev">
                    &#8249;
                </button>
                <button class="slide-arrow" id="slide-arrow-next">
                    &#8250;
                </button>
                <ul class="slides-container" id="slides-container">
                    <li class="slide">
                        <img src="img/iconSlider1.png" alt="Bienestar">
                        <h2>
                            Bienestar y atención preventiva</h2>
                        <p>Asegúrate de que su perro reciba los servicios que necesita para mantenerse saludable.
                        </p>
                    </li>

                    <li class="slide">
                        <img src="img/iconSlider2.png" alt="dental">
                        <h2>
                            Dental
                        </h2>
                        <p>
                            El cuidado dental de rutina es tan importante para tu mascota como para ti y tu familia.
                        </p>
                    </li>
                    <li class="slide">
                        <img src="img/iconSlider3.png" alt="Castración">
                        <h2>
                            Castración </h2>
                        <p>
                            Hacerlo puede mejorar su salud y protegerlos de enfermedades, incluidos ciertos tipos de
                            cáncer. </p>
                    </li>
                    <li class="slide">
                        <img src="img/iconSlider4.png" alt="cirugía">
                        <h2>
                            Cirugía &
                            Ortopedia </h2>
                        <p>
                            Cuando su mascota necesite cirugía en Bogotá, deje que nuestro compasivo equipo le ayude.
                        </p>
                    </li>
                    <li class="slide">
                        <img src="img/iconSlider5.png" alt="Vacunar">

                        <h2>
                            Vacunas </h2>
                        <p>
                            Vacunar a tu mascota es una de las cosas más efectivas que puedes hacer para mantenerla
                            saludable. </p>
                    </li>
                    <li class="slide">
                        <img src="img/iconSlider6.png" alt="emergencia">

                        <h2>
                            Emergencias &
                            Atención de urgencias </h2>
                        <p>
                            Si buscas un veterinario de emergencia o tu mascota requiere atención urgente,
                            podemos ayudarte.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <footer id="contact">
        <div class="hospital-hours">
            <h3>Horas de atención</h3>
            <p>Lunes a viernes de 8:00am a 10:00pm
                
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

            </br>
            <h5>Todos los derechos reservados 2024 Huellitas Felices</h5>
        </div>
        <ul>
            <li>
                <a href="#">
                <i class="fab fa-facebook-f icon"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter icon"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram icon"></i></a>
            </li>
            
            </ul>
        <div class="div-map">
            <!--<h3>Nuestra ubicación</h3>> -->
            <iframe class="mapa"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15907.159358032039!2d-74.06413031145766!3d4.631548435251929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a8193f1c9f%3A0xf93431640f134c07!2sPontificia%20Universidad%20Javeriana!5e0!3m2!1ses-419!2sco!4v1707863849983!5m2!1ses-419!2sco"
                width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </footer>

    <!-- javascript de slider,
 solo funciona si lo pongo al final por alguna razon ???
 <div>
            <h3>Contáctanos</h3>
            <div class="flex-container-contactanos">
                <img src="img/whatsapp.png" alt="whatsapp" class="contact-logos">
                <img src="img/instagram.png" alt="instagram" class="contact-logos">
                <img src="img/facebook.png" alt="facebook" class="contact-logos">
            </div>
        </div>


-->
    <script>
        // Obtener referencias
const slidesContainer = document.getElementById("slides-container");
const slides = document.querySelectorAll(".slide");
const prevButton = document.getElementById("slide-arrow-prev");
const nextButton = document.getElementById("slide-arrow-next");
let currentSlideIndex = 0; // Variable para mantener el índice de la diapositiva actual

// Evento de clic para el botón de siguiente
nextButton.addEventListener("click", () => {
    const slideWidth = slides[0].clientWidth; // Usamos el ancho del primer slide para la consistencia
    currentSlideIndex++; // Incrementamos el índice de la diapositiva actual
    if (currentSlideIndex >= slides.length) {
        // Si el índice de la diapositiva actual excede la cantidad de diapositivas
        currentSlideIndex = 0; // Volvemos al primer slide
    }
    slidesContainer.scrollLeft = currentSlideIndex * slideWidth; // Movemos el contenedor de slides
});

// Evento de clic para el botón de anterior (no es necesario cambiar)
prevButton.addEventListener("click", () => {
    const slideWidth = slides[0].clientWidth;
    currentSlideIndex--;
    if (currentSlideIndex < 0) {
        currentSlideIndex = slides.length - 1; // Si estamos en el primer slide, vamos al último
    }
    slidesContainer.scrollLeft = currentSlideIndex * slideWidth;
});

    </script>

</body>

</html>