<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

</head>
<body id="login-back" th:style="@{'background-image: url(' + @{/img/loginBack.png} + '); '}">

<section id="login-box">
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm" th:action="@{/clientes/find}" method="get">
            <div class="form-group">
                <label for="Cedula">Cedula</label>
                <input type="text" id="Cedula" name="id" required />
            </div>
        
            <div class="form-group">
                <button type="submit" class="btn-login">Login</button>
            </div>
        </form>
        
    </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault();
        var cedula = document.getElementById("Cedula").value;
        var url = "/clientes/find?id=" + cedula;  
        this.action = url;
        this.submit();
    });
});

</script>
</body>
</html>
