<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Mascota</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <h2>Formulario de Mascota</h2>
    <form th:object="${mascota}" th:action="@{/mascotas/update/{id}(id=${mascota.id})}" th:method="post">
        <div class="form-group">
            <label for="id">ID:</label><br>
            <input th:field="*{id}" type="number" id="id" name="id"><br>
        </div>

        <div class="form-group">
            <label for="nombre">Nombre:</label><br>
            <input th:field="*{nombre}" type="text" id="nombre" name="nombre"><br>
        </div>

        <div class="form-group">
            <label for="raza">Raza:</label><br>
            <input th:field="*{raza}" type="text" id="raza" name="raza"><br>
        </div>

        <div class="form-group">
            <label for="edad">Edad:</label><br>
            <input th:field="*{edad}" type="number" id="edad" name="edad"><br>
        </div>

        <div class="form-group">
            <label for="peso">Peso:</label><br>
            <input th:field="*{peso}" type="number" step="0.01" id="peso" name="peso"><br>
        </div>

        <div class="form-group">
            <label for="enfermedad">Enfermedad:</label><br>
            <input th:field="*{enfermedad}" type="text" id="enfermedad" name="enfermedad"><br>
        </div>

        <div class="form-group">
            <label for="foto">Foto:</label><br>
            <input th:field="*{foto}" type="text" id="foto" name="foto"><br>
        </div>

        <div class="form-group">
            <label for="tratamiento">Tratamiento:</label><br>
            <input th:field="*{tratamiento}" type="text" id="tratamiento" name="tratamiento"><br>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</body>
</html>