<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

</head>

<body class="background-registro">

    <div class="form-general-group">
    <h2>Editar Cliente</h2>
    <form th:object="${cliente}" th:action="@{/clientes/update/{id}(id=${cliente.id})}" th:method="post">
        <!-- formulario para modificar un cliente trayendo toda su información-->
        <div class="form-group">
            <label for="nombre">Nombre:</label><br>
            <input th:field="*{nombre}" type="text" id="nombre" name="nombre" required><br>
        </div>

        <div class="form-group">
            <label for="correo">Correo:</label><br>
            <input th:field="*{correo}" type="email" id="correo" name="correo"required><br>
        </div>

        <div class="form-group">
            <label for="celular">Celular:</label><br>
            <input th:field="*{celular}" type="number" id="celular" name="celular"required><br>
        </div>
        


        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    </div>
</body>

</html>