<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar Todos Veterinarios</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
</head>


<body>

  <header>

    <div class="navbar-full">

      <a id="button-huellitas" th:href="@{/}"><button>
          <img class="logo" th:src="@{/img/logo.png}" alt="Logo huellitas felices">
          <h2>Huellitas Felices</h2>
        </button>
      </a>
      <nav class="navbar-options">
        <a href="#">Veterinario</a>
        <a href="/clientes/all">Cliente</a>
      </nav>
      <a href="javascript:history.back()"><button id="button_back">Volver</button></a>
    </div>
  </header>

  <section id="todas-mascotas">

    <h1 id="todas-mascotas-title">Lista de Veterinarios</h1>

    <section id="mascotas-table">
      <a th:href="@{/veterinarios/add}"><button class="add-btn">Agregar Veterianarios</button></a>
      <br>
        <div id="mascota-container-todas" th:each="veterinario : ${veterinarios}">
          <div class="mascota-info">
            <img class = "img-mascota-todas" src="" alt="Foto del veterinario" th:src="${veterinario.foto == null or veterinario.foto == '' ? '/img/bichon.png' : veterinario.foto}">
            <div class="datos">
              <h2 th:text="${veterinario.nombre}"></h2>
              <p><strong>Especialidad:</strong> <span th:text="${veterinario.especialidad}"></span></p>
              <p><strong>Cedula:</strong> <span th:text="${veterinario.cedula}"></span></p>
            </div>
          </div>
          <div class="mascota-actions">
            <a th:href="@{/veterinarios/find(id=${veterinario.id})}"><button>Ver Detalle</button></a>
            <a th:href="@{/veterinarios/delete/{id}(id=${veterinario.id})}"  style="color: #eb0000; font-size: 1.8vw; margin-top: 0.8vw;">
              <i class="delete-btn fa-solid fa-trash" style="color: #eb0000;"></i>
          </a>
          </div>
        </div>
    </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://kit.fontawesome.com/0fca6b0410.js" crossorigin="anonymous"></script>
</body>

</html>