<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Cliente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
</head>

<body>
    <header class="navbar-specific">
        <div>
            <img class="logo" th:src="@{/img/logo.png}" alt="Logo huellitas felices">
            <h2>Huellitas Felices</h2>

        </div>

        <h3 id="header_title" style="margin-right: 40vw"> Informacion del cliente</h3>

    </header>

    <!-- Tarjetón del cliente -->
    <div id="container-vista">
        <div id="cliente-container-vista">
            
                <div style="text-align: center;" id="informacionCliente">
                    <h2 class="nombre-cliente"th:text="${cliente.nombre}"></h2>
                    <p><strong>Cédula:</strong> <span th:text="${cliente.cedula}"></span></p>
                    <p><strong>Correo:</strong> <span th:text="${cliente.correo}"></span></p>
                    <p><strong>Celular:</strong> <span th:text="${cliente.celular}"></span></p>

                </div>     
        </div>

        <!-- Tarjetón de las mascotas del cliente-->
        <section id="mascotas-table-vista">
            <!-- Check if cliente.mascotas is not null before iterating -->
            <th:block th:if="${cliente.mascotas != null}">
                <div th:each="mascota : ${cliente.mascotas}">
                    <a style="text-decoration: none; color: black;" th:if="${mascota.estado}"
                        th:href="@{/mascotas/find(id=${mascota.id})}">
                        <!--<div class="specified-mascota" th:classappend="${mascota.estado == false} ? 'inactive'"> -->
                        <div class="mascota-info info-vista">
                            <img class="mascota_cliente" src="" alt="Foto de la mascota"
                                th:src="${mascota.foto == null or mascota.foto == '' ? '/img/bichon.png' : mascota.foto}">
                            <h2 th:text="${mascota.nombre}"></h2>
                        </div>
                    </a>
                    <div th:if="${!mascota.estado}" class="mascota-info info-vista specified-mascota-inactive">
                        <img class="mascota_cliente" src="" alt="Foto de la mascota"
                            th:src="${mascota.foto == null or mascota.foto == '' ? '/img/bichon.png' : mascota.foto}">
                        <div class="column">
                            <h2 th:text="${mascota.nombre}"></h2>
                        <a th:href="@{'/mascotas/activate/' + ${mascota.id} + '/' + ${cliente.id}}">Activate</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </section>
    </div>

    <script src="https://kit.fontawesome.com/0fca6b0410.js" crossorigin="anonymous"></script>

</body>

</html>


