<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
      
        <div class="navbar-full">
            
            <nav class="navbar-options">
                <a href="#">Paciente</a>
                <a href="#">Cliente</a>
        
            </nav>
            <h2>Huellitas Felices</h2>
            <img class="logo" th:src="@{/img/logo.png}" alt="Logo huellitas felices">
         
        </div>
      </header>

<section id="todos-clientes">

    <h1 id="todos-clientes-title">Lista de Clientes</h1>
    <div id="cliente-container">

      <a th:href="@{/clientes/add}"><button>Agregar Cliente</button></a>/*ARREGLAR*/
      
    <section id="clientes-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Número de cédula</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        /*ARREGLAR*/
        <tr th:each="cliente : ${clientes}">
          <td th:text="${cliente.nombre}"></td>
          <td th:text="${cliente.id}"></td>
          <td><a th:href="@{/clientes/find(id=${cliente.id})}"><button>Ver Detalle</button></a></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
</section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
