<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- Declaración del lenguaje y del espacio de nombres de Thymeleaf -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Mascotas</title>
    <!-- Enlaces a archivos CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Preconexión a fuentes externas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Enlaces a fuentes de Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
</head>


<body>
    <header class="navbar-specific">
        <!-- Botón de navegación a la página principal -->
        <a id="button-huellitas" th:href="@{/}">
            <button>
                <img class="logo" th:src="@{/img/logo.png}" alt="Logo huellitas felices">
                <h2>Huellitas Felices</h2>
            </button>
        </a>

        <h3 id="header_title"> Informacion del tratamiento</h3>

        <!-- Botón para volver atrás -->
        <a href="javascript:history.back()"><button id="button_back">Volver</button></a>
       
        <!-- <img class="volver" th:src="@{/img/bichon.png}" alt="Volver"> -->

    </header>

    <section class="content-mascota-specific">
        <title>Detalle de Tratamiento</title> 

        <!-- Contenedor de la mascota -->
        <div id="mascota-container">

            <!-- Información del tratamiento -->
            <div id="informacion-tratamiento" class="informacion-tratamiento">
             
                <h2 style="text-align: center;"><strong th:text="${tratamiento.mascota.nombre}"></strong></h2> 

                <p><strong>Droga Aplicada:</strong> <span th:text="${tratamiento.droga}"></span></p>
               
                <p><strong>Descripción:</strong> <span th:text="${tratamiento.descripcion}"></span></p>
               
                <p><strong>Fecha de Inicio:</strong> <span th:text="${tratamiento.fechaInicio}"></span></p>
               
                <p><strong>Fecha de Fin:</strong> <span th:text="${tratamiento.fechaFin}"></span></p>
 
                <p><strong>Veterinario:</strong> <span th:text="${tratamiento.veterinario}"></span></p>
               
                <p><strong>Enfermedad:</strong> <span th:text="${tratamiento.mascota.enfermedad}"></span></p>
                <!-- Botón para modificar el tratamiento -->
                <a th:href="@{/tratamientos/update/{id}(id=${tratamiento.id})}">
                    <button id="button_modificar_tratamiento">Modificar</button>
                </a>
            </div>
        </div>
    </section>
</body>

</html>
