<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Error</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

</head>

<body>
    <div id="error-body">
        <section id="error-content">
            <h1>ERROR</h1>
            <h2>Página no encontrada</h2>
            <a href="/"><button>Volver al inicio</button></a>
        </section>
    </div>
</body>

</html>